@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.bold {
  color: #131313;
  font-weight: 700;
}

.regular {
  color: #727272;
}

.medium {
  color: #424242;
  font-weight: 500;
}

.display-flex {
  display: flex;
}

.header-bg {
  background-color: rgba(255, 144, 14, 0.1);
  ;
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border-style: none;
  padding: 20px 24px;
}

main>section {
  margin-top: 110px;
}

/* nav-bar style */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styles */
.banner {
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-size: 4rem;

}

.banner-subtitle {
  font-size: 1.25rem;
}

.banner-btn {
  margin-bottom: 50px;
  margin-top: 32px;
}

.banner-img {
  width: 100%;
}

/* team section styles */
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 301px;
}

.team-contents {
  text-align: center;
  margin: 202px auto 202px 73px;
  max-width: 530px;
}

#Quick-list {
  font-size: 2.80rem;
  color: #727272;
  font-weight: 500;
}

#of-Our {
  font-size: 2.80rem;
  font-weight: 700;
  color: #131313;
}

#Features {
  color: rgba(255, 144, 14, 1);
  font-size: 2.80rem;
  font-weight: 700;
}

.team-description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}

/* some facts styles */
.facts-content{
   margin-left: 160px;
   margin-bottom: 70px;
}
.facts-title {
  font-size: 2.80rem;
  font-weight: 700;
  color: #131313;
}

.facts-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}

.facts-card {
  border: 1px solid rgba(255, 144, 14, 1);
  /* padding: 45px 36px 59px 35px; */
  width: 240px;
  height: 240px;
  margin-bottom: 180px;
  border-radius: 8px;
}

.facts-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: 200px;
  margin-right: 200px;
  /* justify-items: center; */
}

.facts-icon {
  /* width: 45px; */
  /* margin: 50px */
  margin-top: 47px;
  margin-left: 90px;
}

.facts-number {
  font-size: 2.8rem;
  margin-top: 10px;
  /* margin-left: 89px; */
   text-align: center;
  font-weight: 600;
  color: #424242;

}
.facts{
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
  text-align: center;
  margin-top: -35px;
}

/* Responsive Media Query */
@media screen and (max-width:576px) {
  .navbar {
    flex-wrap: wrap;
  }

  .brand {
    margin: 0 auto;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    margin-left: 20px;
  }

  .team-section {
    flex-wrap: wrap;
  }

  .team-contents {
    margin: 10px;
    margin-bottom: 20px;
  }
  .facts-content{
    margin-left: 0px;
    /* margin-bottom: 70px; */
 }
 .facts-title{
    margin-bottom: 0px;
 }
 .facts-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 68px;
  /* margin-right: 200px; */
}
.facts-card{
  margin-bottom: 0px;
}
}

/* for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
  .team-img-container {
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 5px;
    margin: auto 40px;
  }

  .team-section {
    flex-wrap: wrap;
    margin-bottom: 150px;
  }

  .team-contents {
    margin-top: 20px;
    padding-left: 35px;
  }
  .facts-content{
    margin-left: 30px;
    /* margin-bottom: 70px; */
 }
 .facts-title{
    margin-bottom: 7px;
 }
 .facts-card-container {
  grid-template-columns: repeat(2, 1fr);
  margin-left: 30px;
  /* margin-right: 200px; */
}
.facts-card{
  margin-bottom: 0px;
}
}